[user]
    name = AUTHORNAME
    email = AUTHOREMAIL

[credential]
    helper = osxkeychain
[alias]
    count   = !git shortlog -sn
[color]
    diff = auto
    status = auto
    branch = auto
    ui = true
[core]
    autocrlf = input
    excludesfile = ~/.gitignore
    editor = vim
    pager = diff-highlight | most -c
[apply]
    whitespace = nowarn
[mergetool]
    keepBackup = false
[difftool]
    prompt = false
[help]
    autocorrect = 1
[push]
    default = simple
